/* components/custom-nav/index.wxss */
.hk-bar {
  z-index: 200;
}
.icon-arrow-left-bold {
  width: 40rpx;
  height: 40rpx;
  color: inherit;
  font-size: 40rpx;
  line-height: 40rpx;
}
.content {
  font-size: 36rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: inherit;
}
