/node_modules
/public/hot
/public/storage
public/uploads
public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
#IDE
.idea
dcat_admin_ide_helper.php
app/storage/
storage/

config/cache-keys.php
config/core.php
#_ide_helper_redis.php
